.works {
        padding: 0 0 3rem 0;
        display: flex;
        height: 90vh;
        margin-top: 4rem;
}

.w-right {
        position: relative;
}

.w-maincircle {
        left: 9rem;
        position: relative;
        width: 18rem;
        height: 18rem;
        border-radius: 100%;
        box-shadow: var(--smboxShadow);
        top: 2rem;
        background: #fff;
}

.w-maincircle>* {
        position: absolute;
}

.w-maincircle > :nth-child(1) {
        top: -3rem;
        left: 6rem;
}

.w-maincircle > :nth-child(2) {
        left: -3rem;
        top: 5rem;
}

.w-maincircle > :nth-child(3) {
        left: 6rem;
        top: 5rem;
}

.w-maincircle > :nth-child(4) {
        left: 15rem;
        top: 5rem;
}

.w-maincircle > :nth-child(5) {
        left: 6rem;
        top: 13rem;
}

.w-innercircle {
        width: 6rem;
        height: 6rem;
        position: absolute;
        border-radius: 100%;
        border: 5px solid #ebebeb;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        box-shadow: var(--smboxShadow);
}

.w-innercircle > img {
        transform: scale(0.6);
}

.w-backcircle {
        position: absolute;
        height: 13rem;
        width: 13rem;
        border-radius: 100%;
        z-index: -1;
}

.bluecircle {
        background-color: #194988;
        left: 18rem;
        top: 0;
}

.yellowcircle {
        background-color: #F5C32C;
        left: 18rem;
        top: 8rem;
}